@using Dynamicweb.Rendering
@using Dynamicweb.Ecommerce.Frontend
@using Dynamicweb.Content

@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>

@{
    var pageService = new Dynamicweb.Content.PageService();
    var cartPage = pageService.GetPageByNavigationTag(@Pageview.AreaID, "cart");
    var loginPage = pageService.GetPageByNavigationTag(@Pageview.AreaID, "login");
    var profilePage = pageService.GetPageByNavigationTag(@Pageview.AreaID, "profile");
    var myOrders = pageService.GetPageByNavigationTag(@Pageview.AreaID, "myorders");
    var myLedger = pageService.GetPageByNavigationTag(@Pageview.AreaID, "myledger");
    var myQuotes = pageService.GetPageByNavigationTag(@Pageview.AreaID, "myquotes");
    var mySubscriptions = pageService.GetPageByNavigationTag(@Pageview.AreaID, "mysubscriptions");
}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">BasicDesign</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @foreach (var node in Model.Nodes)
                {
                    if (node.InPath == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="@node.Link">@node.Name</a>
                        </li>
                    }
                    else if (node.IsClickable == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">@node.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@node.Link">@node.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>

        <ul class="navbar-nav">
            <!-- Profile -->
            @if (profilePage != null) {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    @if (Pageview.User == null) {
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Default.aspx?ID=@loginPage.ID">Login</a></li>
                        </ul>
                    } else {
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/Default.aspx?ID=@profilePage.ID">Profile</a></li>
                            <!-- Customer Center-->
                            @if (myOrders != null) {
                                <li><a class="dropdown-item" href="/Default.aspx?ID=@myOrders.ID">My Orders</a></li>
                            }
                            @if (myLedger != null)
                            {
                                <li><a class="dropdown-item" href="/Default.aspx?ID=@myLedger.ID">My Ledger</a></li>
                            }
                            @if (myQuotes != null)
                            {   
                                <li><a class="dropdown-item" href="/Default.aspx?ID=@myQuotes.ID">My Quotes</a></li>
                            }
                            @if (mySubscriptions!= null)
                            {
                                <li><a class="dropdown-item" href="/Default.aspx?ID=@mySubscriptions.ID">My Subscriptions</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href='@Pageview.Area.UrlName/Admin/Public/ExtranetLogoff.aspx'>Logout</a></li>
                        </ul>
                    }
                </li>
            }
            <!-- Cart -->
            @if (cartPage != null)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Default.aspx?ID=@cartPage.ID">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            }            
        </ul>
   
    </div>
</nav>