@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.Navigation.NavigationTreeViewModel>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BasicDesign</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @foreach (var node in Model.Nodes)
                {
                    if (node.InPath == true)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="@node.Link">@node.Name</a>
                        </li>
                    } else if (node.IsClickable == false)
                    {
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">@node.Name</a>
                        </li>
                    } else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@node.Link">@node.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>