@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


<!--Cart contents-->
@if (GetBoolean("Ecom:Order.IsEmpty"))
{
    <div class="col-md-12">
        <h3>Shopping Cart</h3>
        <div class="alert alert-info">Your cart is empty</div>
    </div>
}
else
{
    <div class="col-md-12">
        <h3>Shopping Cart</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Translate("Product_name", "Product name")</th>
                    <th>@Translate("Quantity", "Quantity")</th>
                    <th>@Translate("Price", "Price")</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in GetLoop("OrderLines"))
                {
                    <tr>
                        <td>
                            <a href='@line.GetValue("Ecom:Order:OrderLine.ProductLink")'>
                                @line.GetValue("Ecom:Order:OrderLine.ProductName.Short")
                                @if (!string.IsNullOrWhiteSpace(line.GetString("Ecom:Order:OrderLine.ProductVariantText")))
                                {
                                    @: (@line.GetString("Ecom:Order:OrderLine.ProductVariantText"))
                                }
                                @if (!string.IsNullOrWhiteSpace(line.GetString("Ecom:Order:OrderLine.UnitID")))
                                {
                                    @: (@line.GetString("Ecom:Order:OrderLine.UnitName"))
                                }
                            </a>
                            <!--Order line fields-->
                            @foreach (var field in line.GetLoop("Order.OrderLineFields"))
                            {
                                if (!string.IsNullOrWhiteSpace(@field.GetString("Ecom:Order:OrderLine.OrderLineField.Value")))
                                {
                                    <div style="font-size:12px;"><i>@field.GetString("Ecom:Order:OrderLine.OrderLineField.Name"): @field.GetString("Ecom:Order:OrderLine.OrderLineField.Value")</i></div>
                                }
                            }
                        </td>
                        <td>
                            @if (line.GetString("Ecom:Order:OrderLine.IsDiscount") == "true")
                            {
                                <span></span>
                            }
                            else
                            {
                                @line.GetValue("Ecom:Order:OrderLine.Quantity")
                            }
                        </td>
                        <td>@line.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
                        <td>
                            @if (line.GetBoolean("Ecom:Order:OrderLine.IsProduct"))
                            {
                                <!--Incorderline, decorderline, delorderline-->
                                <form method="post">
                                    <input type="hidden" name="key" value='@line.GetValue("Ecom:Order:OrderLine.Id")' />
                                    <button class="btn btn-light" type="submit" name="CartCmd" value="IncOrderLine"><span class="fa fa-plus"></span></button>
                                    <button class="btn btn-light" type="submit" name="CartCmd" value='DecOrderline'><span class="fa fa-minus"></span></button>
                                    <button class="btn btn-light" type="submit" name="CartCmd" value="DelOrderLine"><span class="fa fa-trash"></span></button>
                                </form>
                            }
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <th>@Translate("Total")</th>
                    <th></th>
                    <th>@GetValue("Ecom:Order.OrderLines.Total.PriceWithVAT")</th>
                    <th></th>
                </tr>
            </tfoot>

        </table>
    </div>

    <form name="ordersubmit" id="ordersubmit" method="post" role="form">
        <div class="col-md-12">
            <button type="submit" name='@GetValue("CartV2.NextStepButtonName")' id='@GetValue("CartV2.NextStepButtonName")' class="submitter btn btn-primary float-end">@Translate("Go_to_checkout", "Go to checkout")</button>
        </div>
    </form>
    }