@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


<!--Cart contents-->
@if (GetBoolean("Ecom:Order.IsEmpty"))
{
    <div class="card card-spaced col-md-12">
        <h3>Cart Content</h3>
        <div class="alert alert-info">Your cart is empty</div>
    </div>
}
else
{
    <div class="card card-spaced col-md-12">
        <h3>Cart Content</h3>
        <table class="table orderlines">
            <thead>
                <tr>
                    <th class="name">@Translate("Product_name", "Product name")</th>
                    <th class="quantity">@Translate("Quantity", "Quantity")</th>
                    <th class="amount">@Translate("Price", "Price")</th>
                    <th>CrtCmd</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in GetLoop("OrderLines"))
                {
                    <tr data-product-auto-id='@line.GetValue("Ecom:Product.AutoID")'>
                        <td class="name">
                            <a href='@line.GetValue("Ecom:Order:OrderLine.ProductLink")'>
                                @line.GetValue("Ecom:Order:OrderLine.ProductName.Short")
                                @if (!string.IsNullOrWhiteSpace(line.GetString("Ecom:Order:OrderLine.ProductVariantText")))
                                {
                                    @: (@line.GetString("Ecom:Order:OrderLine.ProductVariantText"))
                                }
                                @if (!string.IsNullOrWhiteSpace(line.GetString("Ecom:Order:OrderLine.UnitID")))
                                {
                                    @: (@line.GetString("Ecom:Order:OrderLine.UnitName"))
                                }
                            </a>
                            <!--Order line fields-->
                            @foreach (var field in line.GetLoop("Order.OrderLineFields"))
                            {
                                if (!string.IsNullOrWhiteSpace(@field.GetString("Ecom:Order:OrderLine.OrderLineField.Value")))
                                {
                                    <div style="font-size:12px;"><i>@field.GetString("Ecom:Order:OrderLine.OrderLineField.Name"): @field.GetString("Ecom:Order:OrderLine.OrderLineField.Value")</i></div>
                                }
                            }
                        </td>
                        <td class="quantity">
                            @if (line.GetString("Ecom:Order:OrderLine.IsDiscount") == "true")
                            {
                                <span></span>
                            }
                            else
                            {
                                @line.GetValue("Ecom:Order:OrderLine.Quantity")
                            }

                        </td>
                        <td class="amount">@line.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
                        <td class="actions">
                            @if (line.GetBoolean("Ecom:Order:OrderLine.IsProduct"))
                            {
                                <!--Incorderline, decorderline, delorderline-->
                                <form method="post">
                                    <input type="hidden" name="key" value='@line.GetValue("Ecom:Order:OrderLine.Id")' />
                                    <button class="btn btn-light" type="submit" name="CartCmd" value="IncOrderLine"><span class="fa fa-plus"></span></button>
                                    <button class="btn btn-light" type="submit" name="CartCmd" value='DecOrderline'><span class="fa fa-minus"></span></button>
                                    <button class="btn btn-light" type="submit" name="CartCmd" value="DelOrderLine"><span class="fa fa-trash"></span></button>
                                </form>

                            }
                        </td>
                        <td>
                        </td>
                    </tr>

                    foreach (var bomItem in GetLoop("BOMItems"))
                    {
                        <tr class="bom-item">
                            <td>@bomItem.GetValue("Ecom:Order:OrderLine.ProductName.Short")</td>
                            <td>@bomItem.GetValue("Ecom:Order:OrderLine.Quantity")</td>
                            <td>@bomItem.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
                            <td></td>
                        </tr>
                    }

                }
            </tbody>

            <tfoot>
                <tr>
                    <td>Shipping (@GetString("Ecom:Order.ShippingMethod"))</td>
                    <td></td>
                    <td>@GetValue("Ecom:Order.ShippingFee")</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Payment (@GetString("Ecom:Order.PaymentMethod"))</td>
                    <td></td>
                    <td>@GetValue("Ecom:Order.PaymentFee")</td>
                    <td></td>
                </tr>
                <tr class="total">
                    <th>@Translate("Total")</th>
                    <th></th>
                    <th class="amount">@GetValue("Ecom:Order.OrderLines.Total.PriceWithVAT")</th>
                    <th></th>
                </tr>
            </tfoot>

        </table>
    </div>
    }