@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<div class="">
    @if (Pageview.User == null)
    {

        <form method="post">
            <!-- Username -->
            <div class="form-outline mb-4">
                <input type="text" id="login-username" name="username" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="login-password" name="password" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            @*             <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
        <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
        </div>

        <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
        </div>
        </div> *@

            <!-- Submit button -->
            <button type="submit" name="LoginAction" value="Login" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            @*             <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
        </button>
        </div> *@
        </form>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    @if (Pageview.User.Image != null)
                    {
                        <img src="@Pageview.User.Image" alt="Admin" class="rounded-circle" width="150">
                    }
                    else
                    {
                        <img src="/Files/Templates/Designs/BasicDesign/UserManagement/default_avatar.png" alt="Admin" class="rounded-circle" width="150">
                    }
                    <div class="mt-3">
                        <h4>@Pageview.User.UserName</h4>
                        <p class="text-secondary mb-1">@Pageview.User.JobTitle</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Pageview.User.FirstName @Pageview.User.LastName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Pageview.User.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Pageview.User.Phone
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Pageview.User.PhoneMobile
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Pageview.User.Address, @Pageview.User.Zip, @Pageview.User.City, @Pageview.User.CountryCode
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary" href="@Pageview.Area.UrlName/Admin/Public/ExtranetLogoff.aspx">Log out</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>